@tailwind base;
@tailwind components;
@tailwind utilities;

.contact {
  background-image: url(./assets//map.jpeg);
  background-size: cover;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}